<div class="row">
  <div class="col-lg-3">
    <%= render 'welcomes/categories' %>
  </div>
  <div class="col-lg-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
        <li class="breadcrumb-item active"><%= @product.category.parent.name %></li>
        <li class="breadcrumb-item"><a href="<%= category_path @product.category %>"><%= @product.category.name %></a></li>
        <li class="breadcrumb-item active"><%= @product.title %></li>
      </ol>
    </nav>
    <div class="row">
      <% @product.product_images.each do |product_image| %>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail detail">
            <%= image_tag product_image.image.large.url %>
          </a>
        </div>
      <% end -%>
    </div>

    <ul class="list-unstyled">
      <li>商品编号: <%= @product.uuid %></li>
      <li>库存: <%= @product.amount %></li>
    </ul>
    <h3><strong>¥<%= @product.price %></strong> <span class="msrp">¥<%= @product.msrp %></span></h3>
    <p>数量: <input type="text" name="amount" value="1" /></p>
    <p><%= show_add_to_cart @product %></p>
    <br />
    <br />
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="javascript:;">商品描述</a></li>
    </ul>
    <br />
    <div>
      <%= @product.description.html_safe %>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <script>
    $('.add-to-cart-btn').on('click', function() {
      var $this = $(this),
        $amount = $('input[name="amount"]'),
        $prog = $this.find('i');

      if ($amount.length > 0 && parseInt($amount.val()) <= 0) {
        alert("购买数量至少为 1");
        return false;
      }

      $.ajax({
        url: $this.attr('href'),
        method: 'post',
        data: { product_id: $this.data('product-id'), amount: $amount.val() },
        beforeSend: function() {
          if (!$prog.hasClass('fa-spin')) {
            $prog.addClass('fa-spin');
          }
          $prog.show();
        },
        success: function(data) {
          if ($('#shopping_cart_modal').length > 0) {
            $('#shopping_cart_modal').remove();
          }

          $('body').append(data);
          $('#shopping_cart_modal').modal();
        },
        complete: function() {
          $prog.hide();
        }
      })

      return false;
    })
  </script>
<% end %>
